@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

/* 전역변수 */

*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
}

img
{
    
    width: 100%;
    height: 70%;
    object-fit: fill;
    border-radius: 14px 14px 0 0;
}

body
{
    -ms-overflow-style: none;
    min-width: 1044px !important;
}
    
::-webkit-scrollbar
{
    display: none;
}

main
{
    width: 100%;
    height: 90vh;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#assem_
{
    width: 100%;
}

/* 매뉴바 */

#header
{
    display: flex;
    background-color: rgb(24, 27, 31);
}

.logo_
{
    width: 5%;
}

#assem_ .logo_ .logo_img
{
    width: 100%;
    height: 100%;
}

#assem_ #header .menu_
{
    width: 50%;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
}

#header .menu_ ul
{
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

/* activity */

.activity_
{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

.activity_ .selecter_
{
    display: flex;
    margin: 2.5% auto 0 auto;
    justify-content: space-between;
    width: 80%; 
    background-color: rgb(24, 27, 31);
    border-radius: 50px;
}

.activity_ .select_item
{
    display: flex;
    color: white;
    background-color: rgb(24, 27, 31);
    font-size: 25px;
    font-weight: bold;
    height: 3em;
    align-items: center;
    border-radius: 50px;
    width: 10%;
    justify-content: center;
}

.cards_:hover
{
    cursor: pointer;
}

.activity_ .select_item:hover
{
    background-color:rgb(235, 235, 235);
    cursor: pointer;
}

.activity_ .info_card
{
    width: 100%;
    margin: 2.5% auto 0 auto;
    padding: 0 !important;
}

.activity_ .col_
{
    height: 350px !important;
}

.activity_ .card_
{
    border-radius: 15px !important;
    height: 100% !important;
}

.write_
{
    display: flex;
    margin: 100px 0 50px 0;
}
.write_btn
{
    width: 4% !important;
    margin-left: 80% !important;
    background-color: hsl(160, 0%, 66%) !important;
    border-radius: 5px !important;
    border-color: hsl(160, 0%, 66%) !important;
}