*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
}

body
{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar
{
    display: none;
}

#assem_
{
    min-width: 100%;
    width: 100%;
    height: 100vh;
}

/* 매뉴바 */

#header
{
    display: flex;
    background-color: rgb(24, 27, 31);
}

.logo_
{
    width: 5%;
}

#assem_ .logo_ .logo_img
{
    width: 100%;
    height: 100%;
}

#assem_ #header .menu_
{
    width: 50%;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
}

#header .menu_ ul
{
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}