*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#main_
{
    min-width: 1440px;
    width: 100%;
}

.header
{
    display: flex;
    background-color: rgb(24, 27, 31);
}

.logo_
{
    width: 6%;
    height: 6%;
}

#main_ .logo_ .logo_img
{
    width: 100%;
    height: 100%;
}

#main_ .header .menu_
{
    width: 50%;
    margin-left: 20%;
}

.header .menu_ ul
{
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
